// App

@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@900&family=Signika:wght@300;600&display=swap');

/* Variables */
/* - Colors */

$white:     #FFFFFA;
$gray-100:  #F6F4F5;
$gray-200:  #E3DEE1;
$gray-300:  #D0C8CD;
$gray-400:  #978791;
$gray-500:  #6D5F69;
$gray-600:  #574C54;
$gray-700:  #41393F;
$gray-800:  #2C262A;
$gray-900:  #161315;
$black:     #0b0b0c;

$grays: ();
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$purple: $gray-700;
$rust:   #BF4422;
$green: #40775A;
$blue:   #406E77;

$light:     $gray-100;
$dark:      $gray-800;

$primary:   $blue;
$secondary: $gray-600;
$success:   $green;
$info:      $blue;
$warning:   $rust;
$danger:    darken( $rust, 10% );

$colors: ();
$colors: map-merge(
  (
    "purple": $purple,
    "rust":   $rust,
    "blue":   $blue,
  ),
  $colors
);

$border-radius: 8px;

$font-family-sans-serif: 'Signika', sans-serif;
$font-family-monospace:  'Signika', sans-serif;
$font-family-base:       'Signika', sans-serif;
$headings-font-family:   'Arima Madurai', sans-serif;

$font-size-base:        1rem;
$h1-font-size:          $font-size-base * 2;
$h2-font-size:          $font-size-base * 1.5;
$input-btn-font-family: $font-family-base;

$body-bg: $dark;

$body-color: $white;

$input-bg:                $light;
$input-color:             $dark;
$input-placeholder-color: $gray-500;
$input-border-color:      $white;

$card-color:        $dark;
$card-border-color: darken( $dark, 5% );

$font-weight-light:  300;
$font-weight-normal: $font-weight-light;
$font-weight-bold:   600;
$font-weight-bolder: 900;

$text-muted: $gray-500;

$transition-base: all .1s ease-in-out;

$spacer: 1rem;

$headings-margin-bottom: $spacer * (0.8);

@import 'meyer-hard-reset';

/* Bootstrap */
@import "../../node_modules/bootstrap/scss/bootstrap";

/* Overrides */
@import 'mixins';
@import 'global';
@import 'nav';
@import 'dashboard';
