// App

@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@900&family=Signika:wght@300;400;600;700&display=swap');

/* Variables */
/* - Colors */

$pure-white: #FFFFFF;
$white:      #FBF9FA;
$gray-100:   #F0EEEF;
$gray-200:   #E3DEE1;
$gray-300:   #D0C8CD;
$gray-400:   #978791;
$gray-500:   #6D5F69;
$gray-600:   #574C54;
$gray-700:   #41393F;
$gray-800:   #2C262A;
$gray-900:   #161315;
$black:      #0B0B0C;

$grays: ();
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$red:        #B73E3E;
$salmon:     #F16060;
$blue:       #387480;
$light-blue: #4A8B97;
$yellow:     #FFC43D;

$light:      $white;
$dark:       $gray-800;

$primary:    $salmon;
$secondary:  $blue;
$success:    $light-blue;
$info:       $gray-600;
$warning:    $red;
$danger:     darken( $red, 10% );

$colors: ();
$colors: map-merge(
  (
  	"white": $pure-white,
  	"black": $black,
    "blue":   $blue,
  ),
  $colors
);

$border-radius: 20px;
$spacer:        1rem;

$font-weight-light:        300;
$font-weight-normal:       400;
$font-weight-bold:         600;
$font-weight-bolder:       900;

$font-family-sans-serif:  'Signika', sans-serif;
$font-family-monospace:   'Signika', sans-serif;
$font-family-base:        'Signika', sans-serif;
$headings-font-family:    'Arima Madurai', sans-serif;
$headings-color:          $dark;
$headings-margin-bottom:  $spacer * (0.8);

$font-size-base:          1rem;
$h1-font-size:            $font-size-base * 2.125;
$h2-font-size:            $font-size-base * 1.75;
$h3-font-size:            14px;
$input-btn-font-family:   $font-family-base;
$input-btn-bg:            $pure-white;

$btn-font-weight:         $font-weight-bold;
// $btn-border-radius:       12px;

$input-btn-border-width:  2px;

$body-bg:                 $white;
$body-color:              $gray-700;

$input-bg:                $pure-white;
$input-color:             $gray-700;
$input-placeholder-color: $gray-400;
$input-border-color:      $gray-200;
// $input-border-radius:     12px;

$card-color:              $dark;
$card-bg:                 $pure-white;
$card-border-color:       false;

$transition-base:         all .1s ease-in-out;

$navbar-dark-color:       $gray-700;
$navbar-padding-y:        1rem;

// Breadcrumbs
$breadcrumb-bg:            $light;
$breadcrumb-divider-color: $gray-400;
$breadcrumb-active-color:  $gray-400;
$breadcrumb-divider:       quote('›');

// Grid
$grid-gutter-width: 1rem;

// Grid breakpoints

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
   nav: 992px,
	xl: 1200px
);

// Grid containers

$container-max-widths: (
	sm: 768px,
	md: 992px,
	lg: 1200px,
	xl: 1200px
);

@import 'meyer-hard-reset';

/* Bootstrap */
@import "../../node_modules/bootstrap/scss/bootstrap";

/* Overrides */
@import 'mixins';
@import 'general';
@import 'nav';

