// Dashboard

.view {
	padding-top: 3rem;
	margin-bottom: 2rem;

	& > .row {
		margin-bottom: 2rem;
	}
}

.view-card {
	max-width: 600px;
}

.my-account {
	ul {
		font-size: none;
		padding: 0;
		margin-bottom: 2.5rem;
		border-top: 1px dashed $gray-300;

		&:last-child {
			margin-bottom: 1rem;
		}
	}

	li {
		border-bottom: 1px dashed $gray-300;
	}

	a,
	.settings-item {
		display: block;
		padding: 1rem 0;
		font-weight: $font-weight-bold;
		color: $primary;

		p {
			color: $dark;
			font-weight: $font-weight-normal;
			margin: 0;
			margin-top: 0.15rem;
		}
	}

	a {
		&:hover,
		&:focus {
			text-decoration: none;
			color: darken( $primary, 10% );
		}
	}

	button.settings-item {
		margin: 0;
		border: 0;
		background: none;
		font-weight: $font-weight-bold;
		color: $primary;
		display: block;
		font-size: 1rem;
		width: 100%;
		text-align: left;

		&:hover,
		&:focus {
			color: darken( $primary, 10% );
		}
	}

	form {
		margin-bottom: 2.5rem;
	}
}

.dashboard-add-recipe {
	@include media-breakpoint-down(md) {
		margin-top: 1rem;
	}
}

.greeting {
	font-weight: normal;
	font-size: 2.5rem;
	font-weight: 900;
}

.recent-recipe-list {
	article {
		border-radius: $border-radius;
		overflow: hidden;
	}
}

.recipe-list {
	a {
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}

.recent-recipe {
	min-height: 70px;
	background-color: $white;
	color: $dark;

	h2 {
		margin: 0;
		font-size: 1.2rem;
	}

	.preview {
		background-color: $gray-600;
	}

	.text {
		@include vertical-center-parent;
		padding: 1rem 1.25rem;
	}

	.text-inner {
		@include vertical-center-child;
	}
}

.recipe-summary {
	h2 {
		font-size: 1.5rem;
	}

	.card {
		margin-bottom: 30px;
		background-color: $white;
	}

	.card-body {
		padding: 1rem 0;
	}

	.card-title {
		padding: 0 1rem;
		margin-bottom: 0;

		h2 {
			margin-bottom: 0.5rem;
		}
	}

	.excerpt {
		padding: 0 1rem;
	}

	.author {
		padding: 0.5rem 1rem;
		padding-bottom: 0;
		text-transform: uppercase;
		font-size: 0.8rem;
		font-weight: $font-weight-bolder;
		color: $blue;
	}

	.card-footer {
		border: 0;

		p {
			margin: 0;
			font-size: 0.75rem;
			font-weight: $font-weight-bold;
		}
	}
}
.activity {
	li {
		margin-bottom: 0.5rem;
	}
}
