// Dashboard

.view {
	padding-top: 3rem;

	& > .row {
		margin-bottom: 2rem;
	}
}

.my-account {
	ul {
		font-size: none;
		padding: 0;
		margin: 0;
		border-top: 1px dashed $gray-600;
	}

	li {
		border-bottom: 1px dashed $gray-600;
	}

	a {
		padding: 1rem;
	}
}

.dashboard-add-recipe {
	@include media-breakpoint-down(md) {
		margin-top: 1rem;
	}
}

.greeting {
	font-weight: normal;
	font-size: 2.5rem;
	font-weight: 900;
}

.recent-recipe-list {
	article {
		border-radius: $border-radius;
		overflow: hidden;
	}
}

.recipe-list {
	a {
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}

.recent-recipe {
	min-height: 70px;
	background-color: $gray-100;
	color: $dark;

	h2 {
		margin: 0;
		font-size: 1.2rem;
	}

	.preview {
		background-color: $gray-600;
	}

	.text {
		@include vertical-center-parent;
		padding: 1rem 1.25rem;
	}

	.text-inner {
		@include vertical-center-child;
	}
}

.recipe-summary {
	h2 {
		font-size: 1.5rem;
	}

	.card {
		margin-bottom: 30px;
		background-color: $gray-100;
	}

	.card-body {
		padding: 0;
	}

	.card-title {
		padding: 1rem;
		// padding-bottom: 0.5rem;
		padding-bottom: 0;
		margin-bottom: 0;

		h2 {
			margin: 0;
			color: darken( $blue, 15% );
		}
	}

	.excerpt {
		padding: 0 1rem;
	}

	.author {
		padding: 0.5rem 1rem;
		padding-bottom: 0.75rem;
		text-transform: uppercase;
		font-size: 0.8rem;
		font-weight: $font-weight-bolder;
		color: $blue;
	}

	.card-footer {
		border: 0;

		p {
			margin: 0;
			font-size: 0.75rem;
			font-weight: $font-weight-bold;
		}
	}
}
