// Global

h1,
.h1 {
	font-weight: $font-weight-bolder;
}

h2,
.h2 {
	font-weight: $font-weight-bolder;
	color: $gray-700;
}

h3,
.h3 {
	font-family: $font-family-base;
	font-weight: $font-weight-bolder;
	color: $blue;
	text-transform: uppercase;
}

p {
	font-weight: 200;
}

li {
	line-height: 1.3;
}

a {
	font-weight: $font-weight-bold;
}

.btn.btn-outline-primary {
	background-color: $pure-white;

	&:not(:disabled):hover,
	&:not(:disabled):focus,
	&:not(:disabled):active {
		color: darken( $primary, 10% );
		border-color: darken( $primary, 10% );
		background-color: $pure-white;
	}
}

.btn.btn-outline-secondary {
	color: $primary;
	border-color: $gray-200;
	background-color: $pure-white;

	&:not(:disabled):hover,
	&:not(:disabled):focus,
	&:not(:disabled):active {
		color: darken( $primary, 10% );
		background-color: $pure-white;
		border-color: $primary;
	}
}

.card {
	margin-top: 1rem;
	box-shadow: none;
	transition: all 0.3s ease-in-out;

	&:hover,
	&:focus,
	&:active {
		transform: translateY(-3px);
		box-shadow: 0 3px 30px -15px rgba(0, 3, 30, 0.25);
	}
}

.view {
	position: relative;
	margin-top: 3rem;

	& > .row {
		margin-bottom: 2rem;
	}

	&.recipe-details {
		.recipe-image {
			position: relative;

			.recipe-image-caption {
				position: absolute;
				bottom: 0;
				right: 0;
				left: 0;
				width: 100%;
				text-align: right;
				background-color: rgba( 255, 255, 255, 0.7);
				padding: 0.5rem 1rem;
				font-weight: $font-weight-bold;
				font-size: 12px;
				color: $gray-700;
			}
		}

		@include media-breakpoint-down(sm) {
			padding-top: 4rem;
			margin-top: 1rem;
		}
	}

	&.view-card {
		max-width: 600px;

		.card {
			z-index: 1;
			box-shadow: 0 3px 30px -15px rgba(0, 3, 30, 0.25);
		}
	}

	&.add-recipe {
		h2 {
			margin-bottom: 1.5rem;
		}

		.add-recipe-form {
			padding-top: 1rem;
			border-top: 2px dashed $gray-200;
			margin-top: 1rem;
		}

		.add-recipe-footer {
			padding-top: 2rem;
			border-top: 2px dashed $gray-200;

			.btn {
				margin-bottom: 1rem;
			}

			a {
				display: block;
			}
		}

		label {
			width: 100%;

			h3 {
				margin-bottom: 0.5rem;
			}

			.input-group {
				margin-top: 0.5rem;
			}

			&.upload-photo .form-control-file {
				color: dark;
				font-family: $font-family-base;
			}
		}

		.form-group {
			margin-bottom: 1.75rem;
		}
	}

	&.account {
		form .row {
			margin-bottom: 1rem;
		}

		label {
			@extend h3;
			margin-bottom: 0.5rem;
		}

		label,
		input {
			width: 100%;
		}

		ul {
			padding: 0;
			margin-bottom: 2.5rem;
			border-top: 1px dashed $gray-300;

			&:last-child {
				margin-bottom: 1rem;
			}
		}

		.settings-item {
			@extend h3;
			color: $dark;
			display: block;
			padding: 1rem 0;

			p {
				color: $dark;
				font-weight: $font-weight-normal;
				margin: 0;
				margin-top: 0.15rem;
			}
		}

		a.settings-item {
			color: $blue;
		}

		label.settings-item {
			margin-bottom: 0;
		}

		form {
			margin-bottom: 2.5rem;
		}
	}
}

.btn-card-cancel {
	padding-left: 3rem;
	padding-right: 1rem;
	background-color: $pure-white;
}

.btn-recipe-edit {
	float: right;
	padding-left: 3rem;
	padding-right: 1rem;
	background-color: $pure-white;
}

.btn-add-recipe {
	position: relative;
	padding-left: 3rem;
	margin-top: 0.5rem;

	&::after {
		font-family: $font-family-base;
		content: '+';
		position: absolute;
		left: 1rem;
		top: 0;
		font-size: 2rem;
		line-height: 1.15;
		height: 100%;
		vertical-align: middle;
	}
}

.greeting {
	font-size: 2.75rem;
	font-weight: $font-weight-bolder;
	color: $blue;
	margin-bottom: 0;
}

.home-intro {
	padding-bottom: 1.5rem;
}

.home-recipe-list-intro {
	border-top: 2px dashed $gray-200;
	padding-top: 2.5rem;
	margin-bottom: 2rem;

	h1,
	p {
		display: inline-block;
		margin-bottom: 0;
	}

	h1 {
		margin-right: 2rem;
	}

	p {
		font-family: $font-family-base;
		font-weight: $font-weight-bold;
		color: $gray-500;
	}
}

.recipe-list {
	a {
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}

.recipe-summary {
	h2 {
		font-size: 1.5rem;
	}

	.card {
		margin-bottom: 30px;
		background-color: $pure-white;
	}

	.card-body {
		padding: 1rem 0;
	}

	.card-title {
		padding: 0 1rem;
		margin-bottom: 0;

		h2 {
			margin-bottom: 0.6rem;
		}
	}

	.excerpt {
		font-weight: $font-weight-normal;
		padding: 0 1rem;
	}

	.author {
		@extend h3;
		padding: 0.75rem 1rem;
		padding-top: 0;
		margin-bottom: 0;
	}

	.card-footer {
		font-family: $font-family-base;
		background-color: $pure-white;
		color: $gray-400;
		font-size: 14px;
		padding-bottom: 1rem;
		font-weight: $font-weight-normal;
	}
}

.footer {
	font-family: $font-family-base;
	margin-bottom: 2rem;
	margin-top: 4rem;

	.row {
		padding-top: 0.5rem;
		border-top: 2px dashed $gray-200;
		color: $gray-600;
	}
}
