// Global

h1,
.h1 {
	font-weight: 900;
}

h2,
.h2 {
	font-weight: 900;
}

p {
	font-weight: 200;
}

li {
	line-height: 1.3;
}

a {
	font-weight: $font-weight-bold;
}

.view {
	position: relative;
	padding-top: 3rem;
	margin-bottom: 2rem;
	padding-bottom: 5rem;

	& > .row {
		margin-bottom: 2rem;
	}

	&.recipe-details {
		.card {
			z-index: 1;
		}

		@include media-breakpoint-down(sm) {
			padding-top: 4rem;
			margin-top: 1rem;
		}
	}
}

.view-card {
	max-width: 600px;
}

.my-account {
	form .row {
		margin-bottom: 1rem;
	}

	label,
	input {
		width: 100%;
	}

	ul {
		padding: 0;
		margin-bottom: 2.5rem;
		border-top: 1px dashed $gray-300;

		&:last-child {
			margin-bottom: 1rem;
		}
	}

	li {
		border-bottom: 1px dashed $gray-300;
	}

	a,
	.settings-item {
		display: block;
		padding: 1rem 0;
		font-weight: $font-weight-bold;
		color: $gray-600;

		p {
			color: $dark;
			font-weight: $font-weight-normal;
			margin: 0;
			margin-top: 0.15rem;
		}
	}

	label.settings-item {
		margin-bottom: 0;
	}

	a {
		color: $primary;

		&:hover,
		&:focus {
			text-decoration: none;
			color: darken( $primary, 10% );
		}
	}

	ul.group-list {
		border-top: 0;
		margin-bottom: 1.5rem;

		li {
			border-bottom: 0;
			margin-bottom: 0.5rem;
		}

		a {
			border: 1px solid $primary;
			border-radius: $border-radius;
			text-align: left;
			padding: 0.5rem 1rem;
			font-weight: $font-weight-bold;
		}
	}

	button.settings-item {
		margin: 0;
		border: 0;
		background: none;
		font-weight: $font-weight-bold;
		color: $primary;
		display: block;
		font-size: 1rem;
		width: 100%;
		text-align: left;

		&:hover,
		&:focus {
			color: darken( $primary, 10% );
		}
	}

	form {
		margin-bottom: 2.5rem;
	}
}

.dashboard-add-recipe {
	@include media-breakpoint-down(md) {
		margin-top: 1rem;
	}
}

.greeting {
	font-weight: normal;
	font-size: 2.5rem;
	font-weight: 900;
}

.recent-recipe-list {
	article {
		border-radius: $border-radius;
		overflow: hidden;
	}
}

.recipe-list {
	a {
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}

.recent-recipe {
	min-height: 70px;
	background-color: $white;
	color: $dark;
	overflow: hidden;

	h2 {
		margin: 0;
		font-size: 1.2rem;
	}

	.preview {
		background-color: $gray-600;
		background-image: url(/images/peach-cobbler-photo.jpg);
		background-size: cover;
		background-position: center;
	}

	.text {
		@include vertical-center-parent;
		padding: 1rem 1.25rem;
	}

	.text-inner {
		@include vertical-center-child;
	}
}

.recipe-summary {
	h2 {
		font-size: 1.5rem;
	}

	.card {
		margin-bottom: 30px;
		background-color: $white;
	}

	.card-body {
		padding: 1rem 0;
	}

	.card-title {
		padding: 0 1rem;
		margin-bottom: 0;

		h2 {
			margin-bottom: 0.5rem;
		}
	}

	.excerpt {
		font-weight: $font-weight-normal;
		padding: 0 1rem;
	}

	.author {
		padding: 0.5rem 1rem;
		padding-top: 0.25rem;
		text-transform: uppercase;
		font-size: 0.8rem;
		font-weight: $font-weight-bolder;
		color: $blue;
	}

	.card-footer {
		border: 0;

		p {
			margin: 0;
			font-size: 0.75rem;
			font-weight: $font-weight-bold;
		}
	}
}
.activity {
	li {
		margin-bottom: 0.5rem;
	}
}
