// Global

* {
	transition: $transition-base;
}

.App {
	overflow: hidden;
}

body {
	background-color: $light;
}

h1,
.h1 {
	font-weight: $font-weight-bolder;
}

h2,
.h2 {
	font-weight: $font-weight-bolder;
	color: $gray-700;
}

h3,
.h3 {
	font-family: $font-family-base;
	font-weight: $font-weight-bolder;
	color: $blue;
	text-transform: uppercase;
}

p {
	font-weight: 200;
}

li {
	line-height: 1.3;
}

a {
	font-weight: $font-weight-bold;
}

form {
	.already-have-account {
		padding: 1rem;
		margin-top: 1rem;
		text-align: center;
		font-weight: $font-weight-normal;
		font-family: $font-family-base;
		color: $gray-700;
		display: block;
		text-decoration: underline;
		transition: all 0.2s ease-in-out;

		&:hover,
		&:focus {
			color: $gray-900;
		}
	}

	.form-group {
		label {
			@extend h3;
			margin-bottom: 0;
			width: 100%;

			h3 {
				margin-bottom: 0.25rem;
			}
		}

		.input-group {
			margin-top: 0.25rem;

			&.step {
				margin-bottom: 0.5rem;
			}

			.input-group-text {
				border-bottom-right-radius: 0;
			}
		}
	}

	.form-control {
		min-height: 40px;
		max-height: 600px;
		border-top-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	// .form-control-file {
	// 	margin-bottom: 2rem;
	// }

	.btn,
	button {
		margin-top: 1rem;
	}
}

.btn {
	margin-right: 1rem;

	&.btn-outline-primary {
		background-color: $pure-white;

		&:not(:disabled):hover,
		&:not(:disabled):focus,
		&:not(:disabled):active {
			color: darken( $primary, 10% );
			border-color: darken( $primary, 10% );
			background-color: $pure-white;
		}
	}

	&.btn-outline-secondary {
		color: $primary;
		border-color: $gray-200;
		background-color: $pure-white;

		&:not(:disabled):hover,
		&:not(:disabled):focus,
		&:not(:disabled):active {
			color: darken( $primary, 10% );
			background-color: $pure-white;
			border-color: $gray-300;
		}
	}

	@include media-breakpoint-down(xs) {
		display: block;
	}
}

.card {
	margin-top: 1rem;
	box-shadow: none;
	transition: all 0.3s ease-in-out;
}

.view {
	position: relative;
	// padding-top: 0.5rem;

	&::before {
		content: '';
		position: absolute;
		width: 1400px;
		height: 700px;
		left: -450px;
		top: -270px;
		background-color: $gray-100;
		border-radius: 350px;
		z-index: 0;
	}

	&::after {
		content: '';
		position: absolute;
		border-radius: 350px;
		background-color: #F6F4F5;
		height: 700px;
		width: 1200px;
		bottom: -450px;
		right: -650px;
		z-index: 0;
	}

	& > .row {
		margin-bottom: 1rem;

		@include media-breakpoint-down(md) {
			margin-bottom: 1rem;
		}
	}

	&.home {
		.breadcrumb-item.active {
			color: $gray-100;
		}
	}

	&.user-sign-in {
		.authentication-error p {
			margin-top: 1rem;
			border-bottom: 2px solid $red;
			padding: 0.5rem 1rem;
			color: $red;
			font-weight: $font-weight-bold;
		}
	}

	&.welcome {
		.welcome-icons {
			margin-top: 6rem;
			position: relative;
			z-index: 2;

			p {
				margin-top: 0.75rem;
				font-weight: $font-weight-bold;
			}

			svg {
				height: 88px;
			}
		}
	}

	h1.greetings-line {
		font-size: 2.5rem;
		padding-top: 2rem;
		margin-top: 3rem;
		margin-bottom: 2rem;
		position: relative;
		color: $gray-700;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 80px;
			border-top: 5px dashed $blue;
		}
	}

	&.account-sign-up {
		&::before {
			content: '';
			position: absolute;
			width: 1400px;
			height: 700px;
			left: -335px;
			top: -210px;
			background-color: $gray-100;
			border-radius: 350px;
			z-index: 0;
		}

		&::after {
			content: '';
			position: absolute;
			border-radius: 350px;
			background-color: #F6F4F5;
			height: 700px;
			width: 1200px;
			bottom: -300px;
			right: -600px;
			z-index: 0;
		}

		ol {
			counter-reset: custom-numbers;
			list-style: none;
		}

		li {
			margin-bottom: 2.25rem;
			counter-increment: custom-numbers;
			position: relative;
			padding-left: 50px;

			&::before {
				color: $blue;
				content: counter(custom-numbers);
				position: absolute;
				left: 10px;
				top: -3px;
				height: 30px;
				width: 30px;
				border-radius: 100%;
				border: 3px solid $blue;
				text-align: center;
				line-height: 1.6;
				font-weight: $font-weight-bolder;
				font-family: $headings-font-family;
				font-size: 1.1rem;
			}

			h2 {
				font-size: 1.375rem;
				margin-bottom: 0.25rem;
			}
		}

		.card {
			box-shadow: 0 3px 30px -15px rgba(0, 3, 30, 0.25);
			margin-top: 6rem;
			margin-bottom: 4rem;
			z-index: 1;

			h1 {
				font-size: 2.625rem;
				margin-top: 0.5rem;
			}
		}
	}

	&.recipe-details {
		.recipe-image {
			position: relative;

			.recipe-image-caption {
				position: absolute;
				bottom: 0;
				right: 0;
				left: 0;
				width: 100%;
				text-align: right;
				background-color: rgba( 255, 255, 255, 0.7);
				padding: 0.5rem 1rem;
				font-weight: $font-weight-bold;
				font-size: 12px;
				color: $gray-700;
			}
		}

		.overview {
			font-weight: $font-weight-bold;
			margin-bottom: 1rem;

			h3 {
				color: $dark;
			}
		}
	}

	.view-card {
		margin: 0 auto;
		margin-top: 4rem;
		max-width: 600px;
		transition: $transition-base;

		.card {
			z-index: 1;
			box-shadow: 0 3px 30px -15px rgba(0, 3, 30, 0.25);
			margin-top: 0.75rem;
		}

		.btn {
			margin-right: 0;
		}

		@include media-breakpoint-down(md) {
			margin-top: 3rem;
		}

		@include media-breakpoint-down(sm) {
			margin-top: 1rem;
		}
	}

	&.add-recipe {
		h2 {
			margin-bottom: 1.5rem;
		}

		.add-recipe-form {
			padding-top: 1rem;
			border-top: 2px dashed $gray-200;
			margin-top: 1rem;
		}

		.add-recipe-footer {
			margin-top: 2rem;
			padding-top: 1rem;
			border-top: 2px dashed $gray-200;

			.btn {
				margin-bottom: 1rem;
			}

			a {
				display: block;
			}
		}

		.add-ingredient {
			margin-top: 0;
			margin-bottom: 1rem;
			float: right;
		}
	}

	&.account {
		form .row {
			margin-bottom: 1rem;
		}

		label {
			@extend h3;
			margin-bottom: 0.25rem;
		}

		label,
		input {
			width: 100%;
		}

		ul {
			padding: 0;
			margin-bottom: 2.5rem;
			border-top: 2px dashed $gray-300;

			&:last-child {
				margin-bottom: 1rem;
			}
		}

		.settings-item {
			@extend h3;
			color: $dark;
			display: block;
			padding: 1rem 0;
			border-bottom: 1px solid $gray-200;
			margin-bottom: 0;

			p {
				color: $dark;
				font-weight: $font-weight-normal;
				margin: 0;
				margin-top: 0.25rem;
				text-transform: initial;
			}
		}

		a.settings-item,
		[role="button"] {
			color: $blue;

			&:hover,
			&:focus {
				text-decoration: none;
				color: darken( $blue, 10% );
			}
		}

		label.settings-item {
			margin-bottom: 0;
		}

		form {
			margin-bottom: 2.5rem;
		}
	}
}

.btn.btn-card-cancel {
	position: relative;
	padding-left: 2rem;
	padding-right: 1rem;
	background: none;
	border: 0;
	color: $primary;
	transition: $transition-base;
	display: inline-block;

	&::after {
		font-family: $font-family-base;
		content: '‹';
		position: absolute;
		left: 0.5rem;
		top: 0;
		font-size: 2rem;
		line-height: 1;
		height: 100%;
		vertical-align: middle;
		color: $primary;
		transition: $transition-base;
	}

	&:hover,
	&:focus {
		background: none;
		color: darken( $primary, 10% );

		&::after {
			color: darken( $primary, 10% );
		}
	}
}

.btn.btn-recipe-edit {
	padding-left: 3rem;
	padding-right: 1rem;
	background-color: $pure-white;
	position: relative;
	border: 0;
	color: $primary;
	transition: $transition-base;
	display: inline-block;
	box-shadow: 0 3px 30px -15px rgba(0,3,30,0.25);

	&::after {
		content: url('/images/edit-icon.svg');
		position: absolute;
		height: 18px;
		width: 18px;
		top: 9px;
		left: 1rem;
	}

	&:hover,
	&:focus {
		color: darken( $primary, 10% );
	}
}

.btn.add {
	position: relative;
	padding-left: 2.5rem;

	&::after {
		font-family: $font-family-base;
		content: '+';
		position: absolute;
		left: 14px;
		top: 0;
		font-size: 2rem;
		line-height: 1.15;
		height: 100%;
		vertical-align: middle;
	}
}

.btn.btn-recipe-delete {
	position: relative;
	padding-left: 3rem;
	padding-right: 1rem;
	background-color: $pure-white;
	border-color: $pure-white;
	margin: 0 auto;
	margin-top: 1rem;
	color: $primary;
	box-shadow: 0 3px 30px -15px rgba(0,3,30,0.25);
	z-index: 3;

	&::after {
		content: url('/images/trash-icon.svg');
		position: absolute;
		height: 22px;
		width: 20px;
		left: 14px;
		top: 8px;
	}

	&:hover,
	&:focus {
		background-color: $pure-white;
		border-color: $pure-white;
		color: darken( $primary, 10% );
	}
}

.btn-add-recipe {
	float: right;
	position: relative;
	margin-bottom: 1rem;
	margin-right: 0;

	@include media-breakpoint-down(sm) {
		margin-bottom: 0.5rem;
	}

	@include media-breakpoint-down(xs) {
		float: none;
	}
}

.greeting {
	display: inline-block;
	float: left;
	font-size: 2.75rem;
	font-weight: $font-weight-bolder;
	color: $blue;
	margin-bottom: 1rem;

	@include media-breakpoint-down(md) {
		font-size: 2.5rem;
	}

	@include media-breakpoint-down(xs) {
		display: block;
		float: none;
	}
}

.home-intro {
	@include media-breakpoint-only(sm) {
		padding: 0;
		margin: 0 0.5rem;
	}
}

.home-recipe-list-intro {
	border-top: 2px dashed $gray-200;
	padding-top: 2rem;

	h1,
	p {
		display: inline-block;
		margin-bottom: 0;
	}

	h1 {
		margin-right: 2rem;
	}

	p {
		font-family: $font-family-base;
		font-weight: $font-weight-bold;
		color: $gray-500;
		vertical-align: text-bottom;
	}

	@include media-breakpoint-down(sm) {
		padding-top: 1.5rem;
		padding-left: 0;
		padding-right: 0;
		margin-right: 0.5rem;
		margin-left: 0.5rem;

		h1 {
			font-size: 1.5rem;
		}

		p {
			vertical-align: unset;
			float: right;
		}
	}
}

.recipe-list {
	position: relative;
	z-index: 2;

	a {
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}

.recipe-summary {
	.card {
		overflow: hidden;
		margin: 0;
		margin-bottom: 1.5rem;
		background-color: $pure-white;
		box-shadow: 0 3px 30px -15px rgba(0,3,30,0.25);
		// border: 3px solid $gray-200;

		background-image: url('/images/peach-cobbler-photo.jpg');
		background-size: cover;

		&:hover,
		&:focus,
		&:active {
			transform: translateY(-3px);
			// box-shadow: 0 3px 30px -15px rgba(0, 3, 30, 0.25);
			// border-color: $primary;

			.card-title h2::before {
				height: 200%;
				// background-color: rgba(0, 0, 0, 0.7);
				// background: linear-gradient(0deg, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.85) 50%, rgba(0,212,255,0) 100%);
			}
		}

		// .card-img-top {
		// 	border-top-left-radius: 0;
		// 	border-top-right-radius: 0;
		// }

		.card-body {
			position: relative;
			padding: 0;
		}

		.card-title {
			padding: 0;
			padding-top: 200px;

			h2 {
				padding: 0.75rem;
				padding-left: 1.25rem;
				// padding-right: 5rem;
				font-size: 1.5rem;
				margin: 0;
				color: $pure-white;
				z-index: 1;
				position: relative;

				&::before {
					content: '';
					position: absolute;
					height: 160%;
					bottom: 0;
					left: 0;
					width: 100%;
					// background: rgb(0,0,0);
					background: linear-gradient(0deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 50%, rgba(0,212,255,0) 100%);
					z-index: -1;
					transition: all 0.2s ease-in-out;
				}
			}
		}
	}

	.btn-recipe-card-edit {
		position: absolute;
		bottom: 1rem;
		right: 1rem;
		height: 42px;
		width: 42px;
		// background-color: $white;
		border: 2px solid $gray-500;
		border-radius: 100%;
		padding: 0;
		transition: all 0.2s ease-in-out;
		z-index: 2;

		&::after {
			content: url('/images/edit-icon.svg');
			position: absolute;
			height: 16px;
			width: 16px;
			top: 9px;
			right: 10px;
			opacity: 0.6;
			transition: all 0.2s ease-in-out;
		}

		&:hover,
		&:focus,
		&:active {
			border: 2px solid $gray-400;
			// background-color: $pure-white;

			&::after {
				opacity: 1;
			}
		}
	}

	.card-title {
		padding: 0 1rem;
		margin-bottom: 0;

		h2 {
			// margin-bottom: 0.6rem;
			margin-bottom: 0;
		}
	}

	.excerpt {
		font-weight: $font-weight-normal;
		padding: 0 1rem;
		font-size: 0.9rem;
	}

	.author {
		@extend h3;
		padding: 0.75rem 1rem;
		padding-top: 0;
		margin-bottom: 0;
	}

	.card-footer {
		font-family: $font-family-base;
		background-color: $pure-white;
		color: $gray-400;
		font-size: 14px;
		padding-bottom: 1rem;
		padding-top: 0;
		font-weight: $font-weight-normal;
	}
}

.footer {
	font-family: $font-family-base;
	margin-bottom: 2rem;
	margin-top: 4rem;
	z-index: 2;
	position: relative;

	.row {
		padding-top: 0.5rem;
		border-top: 2px dashed $gray-200;
		color: $gray-600;
	}
}
