.navbar {
	padding: 0;

	.container {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			height: 100%;
			width: 800px;
			right: -100px;
			border-bottom-left-radius: 100px;
			border-bottom-right-radius: 100px;
			background-color: $pure-white;
			z-index: 1;
		}

		@include media-breakpoint-down(xs) {
			padding: 0.25rem 0.5rem;
		}
	}

	.app-name {
		position: relative;
		z-index: 2;
		color: $gray-600;
		font-weight: $font-weight-bold;
		font-family: $headings-font-family;
		font-size: 1.5rem;

		span {
			padding: 0 0.5rem;
			padding-top: 0.1rem;
			background-color: $blue;
			color: $light;
			font-family: $font-family-base;
			border-radius: $border-radius;
			font-size: 0.75rem;
			line-height: 1.5;
			display: inline-block;
			vertical-align: middle;
			margin-left: 0.125rem;
		}

		@include media-breakpoint-down(sm) {
			font-size: 1.125rem;

			span {
				padding: 0 0.3rem;
				font-size: 0.5rem;
			}
		}
	}

	.nav {
		position: relative;
		z-index: 2;
	}

	.nav-group {
		position: relative;
		z-index: 2;

		.btn {
			background-color: $pure-white;
			color: $primary;
			border: 0;
			padding: 0.75rem;
			position: relative;
			border-radius: 0;

			&::before {
				content: '';
				height: 4px;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}

			&.active {
				&::before {
					background-color: $primary;
				}
			}

			&:hover,
			&:focus {
				box-shadow: none;
			}
		}

		.btn.nav-account {
			margin-right: 0;
			padding-left: 1rem;
			padding-right: 3rem;

			&:not(:disabled):hover,
			&:not(:disabled):focus,
			&:not(:disabled):active {
				color: darken( $primary, 10% );
				// border-color: $gray-300;
			}

			&::after {
				content: url('/images/account-icon.svg');
				position: absolute;
				height: 25px;
				width: 25px;
				top: 12px;
				right: 0.75rem;
			}

			&.active {
				border-color: $primary;
			}

			@include media-breakpoint-down(xs) {
				height: 24px;
				width: 24px;
				padding: 0;
				top: 0.5rem;
				right: 0.25rem;

				span {
					display: none;
				}

				&::after {
					top: 0;
					right: 0;
				}
			}
		}
	}
}

.side-navigation {
	position: absolute;
	right: 1rem;

	ul {
		margin: 0;
	}

	li {
		height: 80px;
		width: 80px;
	}

	a,
	button {
		appearance: none;
		display: inline-block;
		height: 80px;
		width: 80px;
		background-color: $gray-600;
		border-radius: 100%;
		border: 0;
		transition: $transition-base;

		&:hover,
		&:focus {
			background-color: $gray-500;
		}
	}

	@include media-breakpoint-up(md) {
		top: 4rem;
		width: 80px;

		ul {
			position: relative;
			width: 80px;
		}

		li {
			position: absolute;
			margin-bottom: 0.75rem;
			z-index: 0;
			top: 0;
			right: 0;
			left: 96px;
			bottom: 0;

			// &:nth-child(1) {
			// 	animation: 1s sidebar-nav-reveal;
			// }

			&:nth-child(2) {
				top: calc(80px + 0.75rem);
				// animation: 1s sidebar-nav-reveal;
			}

			&:nth-child(3) {
				top: calc(160px + 1.5rem);
				// animation-delay: 0.5s;
				// animation: 1s sidebar-nav-reveal;
			}

			&:nth-child(4) {
				top: calc(240px + 2.25rem);
				// animation-delay: 0.5s;
				// animation: 1s sidebar-nav-reveal;
			}
		}
	}

	@include media-breakpoint-down(sm) {
		top: 0;
		right: initial;
		left: 1rem;

		a,
		button {
			width: 50px;
			height: 50px;
		}

		ul {
			height: 50px;
		}

		li {
			display: inline-block;
			margin-right: 0.5rem;
			width: 50px;
			height: 50px;
		}
	}
}

.breadcrumb-nav {
	position: relative;
	display: inline-block;
	// margin-bottom: 1.5rem;
	background-color: $gray-100;
	padding: 0.5rem 1rem;
	padding-left: 0;
	border-radius: $border-radius;

	@include media-breakpoint-down(sm) {
		margin-bottom: 0;
	}
}

.breadcrumb {
	position: relative;
	z-index: 2;
	background: none;
	padding: 0;
	margin: 0;
	transition: $transition-base;

	a {
		color: $primary;
	}

	.breadcrumb-item {
		font-weight: 600;
	}

	@include media-breakpoint-down(sm) {
		margin-top: 0;
		margin-bottom: 1rem;

		.breadcrumb-item {
			font-size: 0.8rem;
		}
	}
}
