.navbar {
	padding: 0;

	.container {
		position: relative;
		padding: 0.5rem 0.5rem;

		&::before {
			content: '';
			position: absolute;
			height: 100%;
			width: 800px;
			right: -100px;
			border-bottom-left-radius: 100px;
			border-bottom-right-radius: 100px;
			background-color: $pure-white;
			z-index: 1;
		}
	}

	.app-name {
		position: relative;
		z-index: 2;
		color: $gray-600;
		font-weight: $font-weight-bold;
		font-family: $headings-font-family;
		font-size: 1.5rem;
	}

	.nav {
		position: relative;
		z-index: 2;
	}

	.nav-group {
		position: relative;
		z-index: 2;

		.btn.nav-account {
			position: relative;
			padding-right: 3rem;
			padding-left: 1rem;
			margin-right: 0;
			background-color: $pure-white;
			color: $primary;
			border-color: $gray-200;

			&:not(:disabled):hover,
			&:not(:disabled):focus,
			&:not(:disabled):active {
				color: darken( $primary, 10% );
				border-color: $gray-300;
			}

			&::after {
				content: url('/images/account-icon.svg');
				position: absolute;
				height: 25px;
				width: 25px;
				top: 0.31rem;
				right: 0.75rem;
			}

			&.active {
				border-color: $primary;
			}
		}
	}
}

.side-navigation {
	position: absolute;
	right: 1rem;

	ul {
		margin: 0;
	}

	li {
		height: 80px;
		width: 80px;
	}

	a,
	button {
		appearance: none;
		display: inline-block;
		height: 80px;
		width: 80px;
		background-color: $gray-600;
		border-radius: 100%;
		border: 0;
		transition: $transition-base;

		&:hover,
		&:focus {
			background-color: $gray-500;
		}
	}

	@include media-breakpoint-up(md) {
		top: 4rem;
		width: 80px;

		ul {
			position: relative;
			width: 80px;
		}

		li {
			position: absolute;
			margin-bottom: 0.75rem;
			z-index: 0;
			top: 0;
			right: 0;
			left: 96px;
			bottom: 0;

			// &:nth-child(1) {
			// 	animation: 1s sidebar-nav-reveal;
			// }

			&:nth-child(2) {
				top: calc(80px + 0.75rem);
				// animation: 1s sidebar-nav-reveal;
			}

			&:nth-child(3) {
				top: calc(160px + 1.5rem);
				// animation-delay: 0.5s;
				// animation: 1s sidebar-nav-reveal;
			}

			&:nth-child(4) {
				top: calc(240px + 2.25rem);
				// animation-delay: 0.5s;
				// animation: 1s sidebar-nav-reveal;
			}
		}
	}

	@include media-breakpoint-down(sm) {
		top: 0;
		right: initial;
		left: 1rem;

		a,
		button {
			width: 50px;
			height: 50px;
		}

		ul {
			height: 50px;
		}

		li {
			display: inline-block;
			margin-right: 0.5rem;
			width: 50px;
			height: 50px;
		}
	}
}

@keyframes sidebar-nav-reveal {
	0% {
		left: 0;
	}

	100% {
		left: 96px;
	}
}
