.navbar {
	a,
	.nav-link {
		color: $white;
		font-weight: $font-weight-bold;
		font-family: $font-family-base;
		border: 0;
		background: none;
	}

	.app-name {
		color: $gray-600;
		font-weight: $font-weight-bold;
		font-family: $font-family-base;
		font-size: 1.25rem;
	}
}
